@font-face {
    font-family: cocobiker;
    src: url(cocobiker.regular.ttf);
}
html,
body{
    margin: 0;
    background:#727B61;
    font-family: 'Merriweather', serif;
    font-size: 15px;
}
@media (min-width: 321px){
    main{
        width: 375px;
        margin:0px auto 
    }
}

.name{
    font-size:1.5rem;
    font-weight: 500;
}
.ingredients{
    font-size: .8rem;
    color: rgb(44, 44, 44);
}
.price{
    color: black;
    font-size: 1.2rem;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#464c3c;
    background-size: cover;
    height: 100px;
}
.logo{
    width: 40px;
    height: 40px;

}
.logo-text{
    font-size: 28px;
    position: relative;
    top: 5px;
    left: 5px;
    font-family: cocobiker , sans-serif;

}
.wrapper{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.div1,
.div2{
    display: flex;
    gap: 10px;
    align-items: center;
}
.div1{
    align-items: start;

}
.btx{
    height: 32px;
    width: 32px;
    color: white;
    background-color: #464c3c;
    text-align: center;
    border-radius: 5px;
    border: none
}
.bta{
    height: 20px;
    width: 20px;
    color: rgb(0, 0, 0);
    background-color: #7d867d;
    text-align: center;
    border-radius: 5px;
    border: none
}
.btx:focus,
.btx:hover{
    background-color: #525848;

}
.name{
    text-align: start;
}
.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
}
img{
    width: 70%;
    height: 70%;
}
footer{
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #464c3c;
    animation: slideUp 0.3s ease forwards;
}
.hidden{
    display: none;
}
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

.basket{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(70,76,60,1) 70%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 100px black;
    padding: 20px 10px;
    width: 90%;
    border-radius: 15px; 
}
.payment{
    display: flex;
    flex-direction: column;
}
input{
    margin: 5px 0px;
    padding: 5px;
    background-color: #464c3c;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;

}
.fa-cart-shopping{
    font-size: 1rem;
    margin-right: 15px;
}

.pays{
    font-family: inherit;
    font-weight: bold;
    color: #464c3c;
    background-color: orange;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
